$primary-font: 'Lora';
$primary-color: #C9FBFF;
$secondary-color: #1D202D;
$third-color: #CCDBDC;

body {
  background-color: $primary-color;
}

header {
  background-color: $third-color;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  margin: 0 auto 20px auto;
  width: 98%;
}

.building {
  height: 110px;
  margin-top: 5px;
  width: 120px;
}

h1 {
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 80px;
  font-weight: bold;
  margin: 10px;
}

.container {
  font-family: $primary-font;
  height: 100%;
  margin: auto;
  width: 98%;
}

ul.tabs{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
ul.tabs li{
  background-color: $third-color;
  color: $secondary-color;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-family: $primary-font;
  font-size: 30px;
}

ul.tabs li.current{
  background: $secondary-color;
  color: $primary-color;
}

.tab-link {
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 0px solid $third-color;
  border-left: 3px solid black;

}

.tab-content{
  background: #ededed;
  display: none;
  padding: 15px;
}

.tab-content.current{
  background-color: $third-color;
  border: 3px solid black;
  display: inherit;
}

.dateTime, .dashBoard, h2 {
  color: $secondary-color;
  font-family: $primary-font;
  font-size: 30px;
  text-align: center;
}

.dashBoard {
  font-size: 25px;
}
 
td {
  border: 3px solid black;
  font-family: $primary-font;
  font-size: 20px;
}

.title, .heading, .curUserOrder, .bookingHeading {
  font-size: 30px;
  text-align: center;
}

input::placeholder {
  font-size: 15px;
  padding-left: 5px;
}

 input[type=text], input[type=number] {
   font-size: 20px;
 }

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

table {
  margin-top: 20px;
  width: 40%;
}

.existingContainer, .newContainer, .orderContainer, .orderTables, .bookingsTable, .availableRooms, .buttonContainer, .addOrderContainer, .addBookingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px auto;
}

.orderTables {
  justify-content: space-evenly;
}

.totalSpentDay, .totalSpentAll {
  font-family: $primary-font;
  font-size: 30px;
  margin: 50px;
  text-align: center;
}

.searchUser, .addUser, .searchOrders, .bookingPick, .orderPick {
  border: solid 2px $secondary-color;
  border-radius: 100px;
  height: 50px;
  width: 290px;
}

.searchCust, .addCust, .test, .searchAllOrders, .chooseOrder, .chooseBooking, .showBookings, .addOrder {
  background-color: $secondary-color;
  border: solid 2px $secondary-color;
  border-radius: 100px;
  color: $primary-color;
  height: 57px;
  font-family: $primary-font;
  font-size: 20px;
  margin-left: 20px;
  width: 160px;
}

.showBookInstructions {
  text-align: center;
}
